@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDeMywPGMtTghnnqz86GS_K4rO3egNjecqlg&s");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: rgb(240, 192, 237);
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid rgb(218, 160, 214);
}





